[submodule "perl-cross.fork"]
	path = perl-cross.fork
	url = https://github.com/libertine-linux-forks/perl-cross.git
	branch = master
	update = checkout
	ignore = none
	fetchRecurseSubmodules = true
	shallow = false
[submodule "upstream"]
	path = upstream
	url = https://github.com/libertine-linux-clones/perl5.git
	branch = master
	update = checkout
	ignore = none
	fetchRecurseSubmodules = true
	shallow = false
